<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Admin home page</title>
</head>
<body>
<h1>Welcome to admin home page!</h1>
<div>
    Authenticated as: <span th:text="${#authentication.name}"></span>
</div>
<div>
    Roles: <span th:text="${#authentication.authorities}"></span>
</div>
<form th:action="@{/admin/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>